{% extends "registration/base.html" %}
{% load i18n %}
{% load template_tags %}
{% block title %}{% trans "Password recovery" %}{% endblock %}
{% block content %}

<form id="login-form" action="?next={{ next }}" method='POST' {% if auth_failed %} autocomplete="off" {% endif %}>
    <fieldset>
        <legend class="arches-signin-subtext">
            {% trans "Forgotten your password?" %}
        </legend>
        <p>Enter the email address for your account and we'll send you a reset link.</p>
        <div class="form-group">
            {% csrf_token %}
            {{ form.email.errors }}
            <label class="reqlabel control-label widget-input-label" for="id_email">Email address</label>
            {{ form.email}}
        </div>
        <div class="form-group">
            <button id="sign-in-button" class="btn btn-primary btn-lg" type="submit">{% trans "Recover my password" %}</button>
        </div>
    </fieldset>
</form>
<div class="row row-cancel-button">
    <button id="login-cancel-button" class="btn btn-lg btn-default" onclick="location.href='/';" onkeyup="if(event.which == 13 || event.keyCode == 13){ location.href='/'; }">Return to NMHR home</button>
</div>

{% endblock %}
