{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

<form id="login-form">
	<fieldset>
		<legend class="arches-signin-subtext">
			{% trans "Password Reset" %}
		</legend>
        <div class="form-group">
            <p>{% trans "Your password has been set.  You may go ahead and <a href=\"{% url 'auth' %}\">log in now</a>." %}</p>
        </div>
	</fieldset>
</form>
<div class="row row-cancel-button">
	<button id="login-cancel-button" class="btn btn-lg btn-default" onclick="location.href='/';" onkeyup="if(event.which == 13 || event.keyCode == 13){ location.href='/'; }">Return to NMHR home</button>
</div>

{% endblock %}
