{% extends "registration/base.html" %}
{% load i18n %}
{% load template_tags %}

{% block content %}

<div class="login-form-container">
	<form id="login-form" class="forgot-password-form" method="post">
		<fieldset>
			{% if validlink %}
				<legend class="arches-signin-subtext">
					{% trans "Change Password" %}
				</legend>
				{% csrf_token %}
				<div class="form-group">
					<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
				</div>
				<div class="form-group">
					{{ form.new_password1.errors }}
					<label class="reqlabel control-label widget-input-label" for="id_new_password1">{% trans "New password" %}</label>
					{{ form.new_password1 }}
				</div>
				<div class="form-group">
					{{ form.new_password2.errors }}
					<label class="reqlabel control-label widget-input-label" for="id_new_password2">{% trans "Re-enter new password" %}</label>
					{{ form.new_password2 }}
				</div>
				<div class="form-group">
					<button id="sign-in-button" class="he-button" type="submit">{% trans "Set new password" %}</button>
				</div>
			{% else %}
				<div class="form-group">
					<p>The password reset link was invalid, possibly because it has already been used.  Please <a href="{% url 'password_reset' %}">request a new password reset</a>.</p>
				</div>
			{% endif %}
		</fieldset>
	</form>
</div>

{% endblock %}
