{% extends "registration/base.html" %}{% load i18n %}

{% block title %}{% trans "New password set" %}{% endblock %}

{% block content %}

<form id="login-form">
	<fieldset>
		<legend class="arches-signin-subtext">
			{% trans "Password Recovery" %}
		</legend>
		<div class="form-group">
			<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
			<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
		</div>
	</fieldset>
</form>
<div class="row row-cancel-button">
	<button id="login-cancel-button" class="btn btn-lg btn-default" onclick="location.href='/';" onkeyup="if(event.which == 13 || event.keyCode == 13){ location.href='/'; }">Return to NMHR home</button>
</div>

{% endblock %}
