{% extends "registration/base.html" %}{% load i18n %}
{% load template_tags %}
{% block content %}

<form id="login-form" method="post">
	<fieldset>
		{% if validlink %}
			<legend class="arches-signin-subtext">
				{% trans "Change Password" %}
			</legend>
			{% csrf_token %}
			<div class="form-group">
				<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
			</div>
			<div class="form-group">
				{{ form.new_password1.errors }}
				{{ form.new_password1 }}
			</div>
			<div class="form-group">
				{{ form.new_password2.errors }}
				{{ form.new_password2 }}
			</div>
			<div class="form-group">
				<button id="sign-in-button" class="btn btn-primary btn-lg" type="submit">{% trans "Set new password" %}</button>
			</div>
		{% else %}
			<div class="form-group">
				<p>The password reset link was invalid, possibly because it has already been used.  Please <a href="{% url 'password_reset' %}">request a new password reset</a>.</p>
			</div>
		{% endif %}
	</fieldset>
</form>
<div class="row row-cancel-button">
	<button id="login-cancel-button" class="btn btn-lg btn-default" onclick="location.href='/';" onkeyup="if(event.which == 13 || event.keyCode == 13){ location.href='/'; }">Return to NMHR home</button>
</div>

{% endif %}
{% endblock %}
