<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'custom_email_css.htm' %}
</head>

<body>
    <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#fff">
        <tbody>
            <tr>
                <td>
                    {% include 'custom_email_header.htm' %}
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <table border="0" width="600" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    {% if username != "" %}
                                                        <p>{{salutation}} {{username}},</p>
                                                    {% endif %}
                                                    <p>Your request to download a set of search results is now ready. You have until {{expiration}} to access this download, after which time it'll be deleted.</p>
                                                    {% if link != "" %}
                                                        <p><a class="btn" href="{{email_link}}">{{button_text}}</a></p>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% include 'custom_email_footer.htm' %}
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>