<!DOCTYPE html>
<html lang="en">

<head></head>

<body style="font-family:'Source Sans Pro', Arial;">
    <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#fff" style="padding-bottom:14px;">
        <tbody>
            <tr>
                <td>
                    {% include 'custom_email_header.htm' %}
                    <table border="0" width="100%" cellspacing="0" cellpadding="0" style="padding-bottom:14px;">
                        <tbody>
                            <tr>
                                <td>
                                    <table border="0" width="600" cellspacing="0" cellpadding="0" style="padding-bottom:14px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    {% if username != "" %}
                                                        <p>{{salutation}} {{username}},</p>
                                                    {% endif %}
                                                    <p>{{greeting}}</p>
                                                    {% if link != "" %}
                                                        <p><a
                                                            style="border-radius:5px;display:inline-block;font-size:18px;font-weight:400;margin:5px;padding:15px 20px;text-decoration:none !important;white-space:normal;background-color:#2579a4;color:#fff;"
                                                            href="{{link}}">{{link_text}}
                                                        </a></p>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% include 'custom_email_footer.htm' %}
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>