*.pyc
*.log
node_modules
coverage/
mariner_proj/logs
mariner_proj/export_deliverables
mariner_proj/cantaloupe/*
mariner_proj/staticfiles
mariner_proj/media/packages
mariner_proj/media/build/
mariner_proj/uploadedfiles/*
mariner_proj/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
