<table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <table border="0" width="600" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td>
                                <p>Contact details for the National Marine Heritage Record (NMHR) Team can be found on the <a href="{{contact_website}}" target="_blank">National Marine Heritage Record (NMHR) contact page</a>.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>