<table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <table border="0" width="600" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td>
                                <p>If you have encountered any issues or need to speak to a member of the Marine Historic Environment Record Service for England team, please email us at <a href="mailto:{{contact_email}}">{{contact_email}}</a>.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>